.header_wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 64px;
    color: white;
}

.header_logo{
    margin-left: 48px;
}
.header_search{
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    /* width: 375px; */
}

.header-searchContainer{
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 10px;
    width: 375px;
}

.header-searchContainer > input{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.header-searchContainer > input:focus{
    outline: none;
}

.header_menu{
    margin-left: 48px;
    margin-right: 48px;
}

.header_menu a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.header_menu a:hover{
    color: green;
}